{% for section in sections.toArray() -%}
    {% if section.hasDefenseMoves() %}
        {% set toggleId = character.slug ~ '_' ~ section.slug %}
        <h{{ level }} class="cursor-pointer{% if level > 1 or not loop.first %} mt-4{% endif %}" data-toggle data-toggle-id="{{ toggleId }}">
            {{ section.name }}
            <i class="bi bi-toggle-on float-right" data-toggle-icon="{{ toggleId }}"></i>
        </h{{ level }}>

        <div data-toggle="{{ toggleId }}">
            {% if section.moves.count() > 0 %}
                {% include 'characters/defense/index/moves.html.twig' with {section: section, character: character} only %}
            {% endif %}

            {% if section.sections.count() > 0 %}
                {% include 'characters/defense/index/sections.html.twig' with {sections: section.sections, character: character, level: level+1} only %}
            {% endif %}
        </div>
    {% endif %}
{% endfor -%}
