{% for section in sections.toArray() -%}
    {% set toggleId = characterSlug ~ '_' ~ section.slug %}
    <h{{ level }} class="cursor-pointer{% if level > 1 or not loop.first %} mt-4{% endif %}" data-toggle data-toggle-id="{{ toggleId }}">
        {{ section.name }}
        <div class="float-right">
            <i class="bi bi-toggle-on" data-toggle-icon="{{ toggleId }}"></i>
        </div>
    </h{{ level }}>

    <div data-toggle="{{ toggleId }}">
        {% if section.throws.count() > 0 %}
            {% include 'characters/defense/index/throws.html.twig' with {section: section, characterSlug: characterSlug} only %}
        {% endif %}

        {% if section.moves.count() > 0 %}
            {% include 'characters/defense/index/moves.html.twig' with {section: section, characterSlug: characterSlug} only %}
        {% endif %}

        {% if section.sections.count() > 0 %}
            {% include 'characters/defense/index/sections.html.twig' with {sections: section.sections, characterSlug: characterSlug, level: level+1} only %}
        {% endif %}
    </div>
{% endfor -%}
