{% macro firstLines(attack) %}
    <tr class="separator">
        <td class="col-3">Type</td>
        <td class="col-3">Property</td>
        <td class="col-3">Startup frames</td>
        <td class="col-3">Range</td>
    </tr>

    <tr>
        <td>Attack</td>
        <td>{{ attack.property|format_attack_property }}</td>
        <td>{{ attack.frames.startup|format_min_max_frames }}</td>
        <td>
            {% if attack.distances.range is not null %}
                {{ attack.distances.range|format_distance }}
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro powerCrushLines(attack) %}
    <tr class="separator separator-top">
        <td colspan="4">Power crush</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>On block</td>
        <td>Dam. reduce</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td>{{ attack.frames.absorption|format_min_max_frames }}</td>
        <td
            class="{{ attack.frames.afterAbsorption.block|frame_bg_class }}"
            title="Frames on block after absorbed damages"
        >
            {{ attack.frames.afterAbsorption.block|format_frame }}
        </td>
        <td>
            {% if attack.powerCrush.damageReduction is not null %}
                {{ attack.powerCrush.damageReduction }}%
            {% endif %}
        </td>
        <td><img class="icon-move-behavior" src="../../../images/behaviors/power-crush.png" title="Power crush"></td>
    </tr>
{% endmacro %}

{% macro onBlockLines(attack) %}
    <tr class="separator separator-top">
        <td colspan="4">On block</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td></td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ attack.frames.block.max|frame_bg_class }}">{{ attack.frames.block|format_min_max_frames(true, false) }}</td>
        <td></td>
        <td>{{ attack.distances.block|format_distances }}</td>
        <td>{{ attack.behaviors.block|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro onNormalHitLines(attack) %}
    <tr class="separator separator-top">
        <td colspan="4">On normal hit</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>Damages</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ attack.frames.normalHit|frame_bg_class }}">{{ attack.frames.normalHit|format_frame }}</td>
        <td>{{ attack.damages.normalHit }}</td>
        <td>{{ attack.distances.normalHit|format_distances }}</td>
        <td>{{ attack.behaviors.normalHit|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro onCounterHitLines(attack) %}
    <tr class="separator separator-top">
        <td colspan="4">On counter hit</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>Damages</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ attack.frames.counterHit|frame_bg_class }}">{{ attack.frames.counterHit|format_frame }}</td>
        <td>{{ attack.damages.counterHit }}</td>
        <td>{{ attack.distances.counterHit|format_distances }}</td>
        <td>{{ attack.behaviors.counterHit|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro stepsLines(attack) %}
    {% if attack.steps.ssl is not null or attack.steps.swl is not null or attack.steps.ssr is not null or attack.steps.swr is not null  %}
        <tr class="separator">
            <td colspan="4">Steps</td>
        </tr>

        <tr>
            {% if attack.steps.ssl is not null %}
                <td class="{{ attack.steps.ssl|step_bg_class }}" title="Side step left - Difficulty: {{ attack.steps.ssl|step_difficulty }}">SSL</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if attack.steps.swl is not null %}
                <td class="{{ attack.steps.swl|step_bg_class }}" title="Side step left - Difficulty: {{ attack.steps.swl|step_difficulty }}">SWL</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if attack.steps.ssr is not null %}
                <td class="{{ attack.steps.ssr|step_bg_class }}" title="Side step left - Difficulty: {{ attack.steps.ssr|step_difficulty }}">SSR</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if attack.steps.swr is not null %}
                <td class="{{ attack.steps.swr|step_bg_class }}" title="Side step left - Difficulty: {{ attack.steps.swr|step_difficulty }}">SWR</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<div class="{{ containerClass }}">
    <div class="card text-center">
        <div class="card-title move-card-title">
            {% if attack.heat %}
                <div class="heat">
                    <img class="icon-move-behavior" src="../../../images/behaviors/heat-engager.png" title="Heat activated">
                </div>
            {% endif  %}
            <div class="title">
                {{ attack.inputs }}
                {% if attack.situation is not null %}
                    ({{ attack.situation }})
                {% endif %}
            </div>
            {% if showLinks is not defined or showLinks %}
                {% set linkSlug = attack.getMaster() is not null ? attack.getMaster().slug : attack.slug %}
                <div class="links">
                    <a href="../../../characters/{{ character.slug }}/defense/{{ linkSlug }}.html" class="text-black" title="Show only this move"><i class="bi bi-eye"></i></a>
                    <i class="bi bi-link cursor-pointer" data-copy-url="characters/{{ character.slug }}/defense/{{ linkSlug }}.html" title="Copy link"></i>
                </div>
            {% endif %}
        </div>
        <br>
        <img src="../../../images/characters/{{ character.slug }}/defense/{{ attack.slug }}.gif" alt="{{ attack.inputs }}">
        <table class="table table-bordered table-sm mb-0">
            <tbody>
                {{ macros.firstLines(attack) }}
                {% if attack.powerCrush.damageReduction is not null %}
                    {{ macros.powerCrushLines(attack) }}
                {% endif %}
                {{ macros.onBlockLines(attack) }}
                {{ macros.onNormalHitLines(attack) }}
                {{ macros.onCounterHitLines(attack) }}
                {{ macros.stepsLines(attack) }}

                {% if attack.comments.count > 0 %}
                    <tr class="separator">
                        <td colspan="4">Other information</td>
                    </tr>

                    {% include 'characters/defense/index/comments.html.twig' with {comments: attack.comments} only %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
