<div class="{{ moveClass }}">
    <div class="card text-center">
        <img class="card-img-top" src="../../../images/characters/{{ character.slug }}/defense/{{ move.name }}.gif" alt="{{ move.name }}">
        <table class="table table-bordered table-sm mb-0">
            <tbody>
                <tr>
                    <td class="move col-3">{{ move.name }}</td>
                    <td class="col-3">Move</td>
                    <td class="col-3">{{ move.property|format_property }}</td>
                    <td class="col-3">
                        <a href="../../../characters/{{ character.slug }}/defense/{{ move.slug }}.html" class="text-black" title="Show only this move"><i class="bi bi-eye"></i></a>
                        <i class="bi bi-link-45deg cursor-pointer" data-copy-url="characters/{{ character.slug }}/defense/{{ move.slug }}.html" title="Copy link"></i>
                    </td>
                </tr>

                <tr>
                    <td class="col-3" title="Attack startup frames">{{ move.frames.startup|format_frame(true) }}</td>
                    <td class="{{ move.frames.block|frame_bg_class }}" title="Frames on block">{{ move.frames.block|format_frame }}</td>
                    <td class="col-3" title="Max distance from opponent">{{ (move.distance / 100)|number_format(2) }}</td>
                </tr>

                <tr>
                    <td title="Normal hit informations on this row">NH <i class="bi bi-arrow-right"></i></td>
                    <td class="{{ move.frames.normalHit|frame_bg_class }}" title="Frames on normal hit">{{ move.frames.normalHit|format_frame }}</td>
                    <td title="Damages on normal hit">{{ move.damages.normalHit }}</td>
                    <td title="Behaviors on normal hit">
                        {% for behavior in move.normalHitBehaviors.toArray() %}
                            {{ behavior|move_behavior_icon }}
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td title="Counter hit informations on this row">CH <i class="bi bi-arrow-right"></i></td>
                    <td class="{{ move.frames.counterHit|frame_bg_class }}" title="Frames on counter hit">{{ move.frames.counterHit|format_frame }}</td>
                    <td title="Damages on counter hit">{{ move.damages.counterHit }}</td>
                    <td title="Behaviors on counter hit">
                        {% for behavior in move.counterHitBehaviors.toArray() %}
                            {{ behavior|move_behavior_icon }}
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <td class="{{ move.steps.ssl|step_bg_class }}" title="Side step left">SSL</td>
                    <td class="{{ move.steps.swl|step_bg_class }}" title="Side walk left">SWL</td>
                    <td class="{{ move.steps.ssr|step_bg_class }}" title="Side step right">SSR</td>
                    <td class="{{ move.steps.swr|step_bg_class }}" title="Side walk right">SWR</td>
                </tr>

                {% include 'characters/defense/index/comments.html.twig' with {comments: move.comments} only %}
            </tbody>
        </table>
    </div>
</div>
