{% macro firstLines(move) %}
    <tr class="separator">
        <td class="col-3">Type</td>
        <td class="col-3">Property</td>
        <td class="col-3">Startup frames</td>
        <td class="col-3">Range</td>
    </tr>

    <tr>
        <td>Power cr.</td>
        <td>{{ move.property|format_move_property }}</td>
        <td>{{ move.frames.startup|format_min_max_frames }}</td>
        <td>
            {% if move.distances.range is not null %}
                {{ move.distances.range|format_distance }}
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro powerCrushLines(move) %}
    <tr class="separator separator-top">
        <td colspan="4">Power crush</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>On block</td>
        <td>Dam. reduce</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td>{{ move.frames.absorption|format_min_max_frames }}</td>
        <td
            class="{{ move.frames.afterAbsorption.block|frame_bg_class }}"
            title="Frames on block after absorbed damages"
        >
            {{ move.frames.afterAbsorption.block|format_frame }}
        </td>
        <td>
            {% if move.damageReduction is not null %}
                {{ move.damageReduction }}%
            {% endif %}
        </td>
        <td><img class="icon-move-behavior" src="../../../images/behaviors/power-crush.png" title="Power crush"></td>
    </tr>
{% endmacro %}

{% macro onBlockLines(move) %}
    <tr class="separator separator-top">
        <td colspan="4">On block</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>Damages</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ move.frames.block.min|frame_bg_class }}">{{ move.frames.block|format_min_max_frames(false) }}</td>
        <td title="Damage - Recoverable damage">{{ move.damages.block.damage }}<i class="bi bi-dot"></i>{{ move.damages.block.recoverableDamage }}</td>
        <td>{{ move.distances.block|format_distances }}</td>
        <td>{{ move.behaviors.block|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro onNormalHitLines(move) %}
    <tr class="separator separator-top">
        <td colspan="4">On normal hit</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>Damages</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ move.frames.normalHit|frame_bg_class }}">{{ move.frames.normalHit|format_frame }}</td>
        <td title="Damage - Recoverable damage">{{ move.damages.normalHit.damage }}<i class="bi bi-dot"></i>{{ move.damages.normalHit.recoverableDamage }}</td>
        <td>{{ move.distances.normalHit|format_distances }}</td>
        <td>{{ move.behaviors.normalHit|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro onCounterHitLines(move) %}
    <tr class="separator separator-top">
        <td colspan="4">On counter hit</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Frames</td>
        <td>Damages</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td class="{{ move.frames.counterHit|frame_bg_class }}">{{ move.frames.counterHit|format_frame }}</td>
        <td title="Damage - Recoverable damage">{{ move.damages.counterHit.damage }}<i class="bi bi-dot"></i>{{ move.damages.counterHit.recoverableDamage }}</td>
        <td>{{ move.distances.counterHit|format_distances }}</td>
        <td>{{ move.behaviors.counterHit|move_behaviors_icons }}</td>
    </tr>
{% endmacro %}

{% macro stepsLines(move) %}
    {% if move.steps.ssl is not null or move.steps.swl is not null or move.steps.ssr is not null or move.steps.swr is not null  %}
        <tr class="separator">
            <td colspan="4">Steps</td>
        </tr>

        <tr>
            {% if move.steps.ssl is not null %}
                <td class="{{ move.steps.ssl|step_bg_class }}" title="Side step left - Difficulty: {{ move.steps.ssl|step_difficulty }}">SSL</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if move.steps.swl is not null %}
                <td class="{{ move.steps.swl|step_bg_class }}" title="Side step left - Difficulty: {{ move.steps.swl|step_difficulty }}">SWL</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if move.steps.ssr is not null %}
                <td class="{{ move.steps.ssr|step_bg_class }}" title="Side step left - Difficulty: {{ move.steps.ssr|step_difficulty }}">SSR</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if move.steps.swr is not null %}
                <td class="{{ move.steps.swr|step_bg_class }}" title="Side step left - Difficulty: {{ move.steps.swr|step_difficulty }}">SWR</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<div class="{{ containerClass }}">
    <div class="card text-center">
        <div class="card-title move-card-title">
            {% if move.heat %}
                <div class="heat">
                    <img class="icon-move-behavior" src="../../../images/behaviors/heat-engager.png" title="Heat activated">
                </div>
            {% endif  %}
            <div class="title">
                {{ move.inputs }}
                {% if move.situation is not null %}
                    ({{ move.situation }})
                {% endif %}
            </div>
            {% if showLinks is not defined or showLinks %}
                {% set linkSlug = move.getMaster() is not null ? move.getMaster().slug : move.slug %}
                <div class="links">
                    <a href="../../../characters/{{ character.slug }}/defense/{{ linkSlug }}.html" class="text-black" title="Show only this move"><i class="bi bi-eye"></i></a>
                    <i class="bi bi-link cursor-pointer" data-copy-url="characters/{{ character.slug }}/defense/{{ linkSlug }}.html" title="Copy link"></i>
                </div>
            {% endif %}
        </div>
        <br>
        <img src="../../../images/characters/{{ character.slug }}/defense/{{ move.slug }}.gif" alt="{{ move.inputs }}">
        <table class="table table-bordered table-sm mb-0">
            <tbody>
                {{ macros.firstLines(move) }}
                {{ macros.powerCrushLines(move) }}
                {{ macros.onBlockLines(move) }}
                {{ macros.onNormalHitLines(move) }}
                {{ macros.onCounterHitLines(move) }}
                {{ macros.stepsLines(move) }}

                {% if move.comments.count > 0 %}
                    <tr class="separator">
                        <td colspan="4">Other information</td>
                    </tr>

                    {% include 'characters/defense/index/comments.html.twig' with {comments: move.comments} only %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
