{% macro firstLines(throw) %}
    <tr class="separator">
        <td class="col-3">Type</td>
        <td class="col-3">Property</td>
        <td class="col-3">Startup frames</td>
        <td class="col-3">Distance</td>
    </tr>

    <tr>
        <td>Throw</td>
        <td class="{{ throw.property|throw_property_bg_class }}">{{ throw.property|format_throw_property }}</td>
        <td class="{% if throw.frames.startup.min < 12 %} bg-danger text-white{% elseif throw.frames.startup.min > 12 %} bg-warning{% endif %}">
            {{ throw.frames.startup|format_min_max_frames() }}
        </td>
        <td>{{ throw.distances.startup|format_distance }}</td>
    </tr>
{% endmacro %}

{% macro escapeLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Escape</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Input{% if throw.escapes.count() > 1 %}s{% endif %}</td>
        <td>Frames</td>
        <td>After escape</td>
        <td>Distance</td>
    </tr>

    <tr>
        <td class="{% if throw.escapes.count() > 0 %}bg-success{% else %}bg-danger{% endif%} text-white">
            {% if throw.escapes.count() > 0 %}
                {{ throw.escapes.toArray()|join(' or ') }}
            {% else %}
                Can't
            {% endif %}
        </td>

        {% set titleParts = [] %}
        {% if throw.frames.escape.normalHit is not null %}
            {% set titleParts = titleParts|merge(['frames to escape on normal hit']) %}
        {% endif %}
        {% if throw.frames.escape.counterHit is not null %}
            {% set titleParts = titleParts|merge(['frames to escape on counter hit']) %}
        {% endif %}

        <td
            class="{% if throw.frames.escape.normalHit < 21 %} bg-danger text-white{% elseif throw.frames.escape.normalHit > 21 %} bg-warning{% endif %}"
            title="{{ titleParts|join(', ')|capitalize }}"
        >
            {% if throw.frames.escape.normalHit %}
                {{ throw.frames.escape.normalHit|format_frame(true) }}
            {% endif %}
            {% if throw.frames.escape.counterHit %}
                {{ throw.frames.escape.counterHit|format_frame(true) }}
            {% endif %}
        </td>
        <td class="{{ throw.frames.afterEscape|throw_escape_bg_class }}">{{ throw.frames.afterEscape|format_frame(true) }}</td>
        <td>{{ throw.distances.escape|format_distance }}</td>
    </tr>
{% endmacro %}

{% macro hitLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Hit</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Damages</td>
        <td>Frames</td>
        <td>Distance</td>
        <td>Behaviors</td>
    </tr>

    <tr>
        <td>{{ throw.damages.normal }}</td>
        <td>{{ throw.frames.hit.normal|format_frame(true) }}</td>
        <td>{{ throw.distances.hit.normal|format_distance }}</td>
        <td{% if throw.behaviors.count > 0 %} class="bg-danger text-white"{% endif %}>
            {{ throw.behaviors|move_behaviors_icons }}
        </td>
    </tr>
{% endmacro %}

{% macro hitWithUkemiLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Hit (with ukemi)</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Damages</td>
        <td>Frames</td>
        <td>Distance</td>
        <td></td>
    </tr>

    <tr>
        <td>{{ throw.damages.ukemi }}</td>
        <td>{{ throw.frames.hit.ukemi|format_frame(true) }}</td>
        <td>{{ throw.distances.hit.ukemi|format_distance }}</td>
        <td></td>
    </tr>
{% endmacro %}

{% macro hitWithWallLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Hit (with wall)</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Damages</td>
        <td>Frames</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>{{ throw.damages.wall }}</td>
        <td>{{ throw.frames.hit.wall.normal|format_frame(true) }}</td>
        <td></td>
        <td></td>
    </tr>
{% endmacro %}

{% macro hitWithWallSplatLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Hit (with wall splat)</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Damages</td>
        <td>Frames</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>{{ throw.damages.wall }}</td>
        <td>{{ throw.frames.hit.wall.splat|format_frame(true) }}</td>
        <td></td>
        <td></td>
    </tr>
{% endmacro %}

{% macro hitWithWallBreakLines(throw) %}
    <tr class="separator separator-top">
        <td colspan="4">Hit (with wall break)</td>
    </tr>
    <tr class="separator separator-bottom">
        <td>Damages</td>
        <td>Frames</td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>{{ throw.damages.wall }}</td>
        <td>{{ throw.frames.hit.wall.break|format_frame(true) }}</td>
        <td></td>
        <td></td>
    </tr>
{% endmacro %}

{% import _self as macros %}

<div class="{{ containerClass }}">
    <div class="card text-center">
        <div class="card-title move-card-title">
            <div class="title">{{ throw.name }}</div>
            <div class="links">
                <a href="../../../characters/{{ character.slug }}/defense/{{ throw.slug }}.html" class="text-black" title="Show only this throw"><i class="bi bi-eye"></i></a>
                <i class="bi bi-link cursor-pointer" data-copy-url="characters/{{ character.slug }}/defense/{{ throw.slug }}.html" title="Copy link"></i>
            </div>
        </div>
        <br>
        <img src="../../../images/characters/{{ character.slug }}/defense/{{ throw.slug }}.gif" alt="{{ throw.name }}">
        <table class="table table-bordered table-sm mb-0">
            <tbody>
                {{ macros.firstLines(throw) }}
                {{ macros.escapeLines(throw) }}
                {{ macros.hitLines(throw) }}

                {% if throw.frames.hit.ukemi is not null %}
                    {{ macros.hitWithUkemiLines(throw) }}
                {% endif %}

                {% if throw.frames.hit.wall.normal is not null %}
                    {{ macros.hitWithWallLines(throw) }}
                {% endif %}

                {% if throw.frames.hit.wall.splat is not null %}
                    {{ macros.hitWithWallSplatLines(throw) }}
                {% endif %}

                {% if throw.frames.hit.wall.break is not null %}
                    {{ macros.hitWithWallBreakLines(throw) }}
                {% endif %}

                {% if throw.comments.count > 0 %}
                    <tr class="separator">
                        <td colspan="4">Other information</td>
                    </tr>
                    {% include 'characters/defense/index/comments.html.twig' with {comments: throw.comments} only %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
