<div class="{{ containerClass }}">
    <div class="card text-center">
        <div class="card-title move-card-title">
            <div class="title">{{ throw.name }}</div>
            <div class="links">
                <a href="../../../characters/{{ character.slug }}/defense/{{ throw.slug }}.html" class="text-black" title="Show only this throw"><i class="bi bi-eye"></i></a>
                <i class="bi bi-link cursor-pointer" data-copy-url="characters/{{ character.slug }}/defense/{{ throw.slug }}.html" title="Copy link"></i>
            </div>
        </div>
        <br>
        <img src="../../../images/characters/{{ character.slug }}/defense/{{ throw.name }}.gif" alt="{{ throw.name }}">
        <table class="table table-bordered table-sm mb-0">
            <tbody>
                <tr class="separator">
                    <td class="col-3">Type</td>
                    <td class="col-3">Property</td>
                    <td class="col-3">Escape</td>
                    <td class="col-3">Behaviors</td>
                </tr>

                <tr>
                    <td title="Move type">Throw</td>
                    <td class="{{ throw.property|throw_property_bg_class }}" title="Property">{{ throw.property|format_throw_property }}</td>
                    <td class="{% if throw.escapes.count() > 0 %}bg-success{% else %}bg-danger{% endif%} text-white" title="Escape input">
                        {% if throw.escapes.count() > 0 %}
                            {{ throw.escapes.toArray()|join(' or ') }}
                        {% else %}
                            Can't
                        {% endif %}
                    </td>
                    <td{% if throw.behaviors.count > 0 %} class="bg-danger text-white"{% endif %} title="Behaviors">
                        {% for behavior in throw.behaviors.toArray() %}
                            {{ behavior|move_behavior_icon }}
                        {% endfor %}
                    </td>
                </tr>

                <tr class="separator">
                    <td colspan="4">Frames</td>
                </tr>

                <tr>

                    <td
                        class="col-3{% if throw.frames.startup.min < 12 %} bg-danger text-white{% elseif throw.frames.startup.min > 12 %} bg-warning{% endif %}"
                        title="Startup frames"
                    >{{ throw.frames.startup|format_throw_startup_frames() }}</td>
                    {% set title = 'Hit frames' %}
                    {% if throw.frames.hit.ukemi is not null %}
                        {% set title = title ~ ' - Hit frames when ukemi' %}
                    {% endif %}
                    {% if throw.frames.hit.wall is not null %}
                        {% set title = title ~ ' - Hit frames with a wall' %}
                    {% endif %}
                    <td class="col-3 {{ throw.frames.hit|throw_hit_bg_class(throw.behaviors) }}" title="{{ title }}">
                        {{ throw.frames.hit.normal|format_frame(true) }}
                        {% if throw.frames.hit.ukemi is not null %}
                            {{ throw.frames.hit.ukemi|format_frame(true) }}
                        {% endif %}
                        {% if throw.frames.hit.wall is not null %}
                            {{ throw.frames.hit.wall|format_frame(true) }}
                        {% endif %}
                    </td>
                    {% if throw.frames.escape is not null %}
                        <td
                            class="col-3{% if throw.frames.escape < 21 %} bg-danger text-white{% elseif throw.frames.escape > 21 %} bg-warning{% endif %}"
                            title="Escape frames"
                        >
                            {{ throw.frames.escape|format_frame(true) }}
                        </td>
                        <td class="col-3 {{ throw.frames.afterEscape|throw_escape_bg_class }}" title="After escape frames">{{ throw.frames.afterEscape|format_frame(true) }}</td>
                    {% else %}
                        <td class="col-6" colspan="2"></td>
                    {% endif %}
                </tr>

                <tr class="separator">
                    <td>Damages</td>
                    <td colspan="3">Distances</td>
                </tr>

                <tr>
                    {% set title = 'Damages' %}
                    {% if throw.damages.ukemi is not null %}
                        {% set title = title ~ ' - Damages when ukemi' %}
                    {% endif %}
                    {% if throw.damages.wall is not null %}
                        {% set title = title ~ ' - Damages with a wall' %}
                    {% endif %}
                    <td title="{{ title }}">
                        {{ throw.damages.normal }}
                        {% if throw.damages.ukemi is not null %}
                            {{ throw.damages.ukemi }}
                        {% endif %}
                        {% if throw.damages.wall is not null %}
                            {{ throw.damages.wall }}
                        {% endif %}
                    </td>
                    <td title="Max distance from opponent to throw">{{ (throw.distances.startup / 100)|number_format(2) }}</td>
                    {% set title = 'Distance after hit' %}
                    {% if throw.distances.hit.ukemi is not null %}
                        {% set title = title ~ ' - Distance after ukemi' %}
                    {% endif %}
                    <td title="{{ title }}">
                        {{ (throw.distances.hit.normal / 100)|number_format(2) }}
                        {% if throw.distances.hit.ukemi is not null %}
                            {{ (throw.distances.hit.ukemi / 100)|number_format(2) }}
                        {% endif %}
                    </td>
                    <td title="Distance after escape">
                        {% if throw.distances.escape is not null %}
                            {{ (throw.distances.escape / 100)|number_format(2) }}
                        {% endif %}
                    </td>
                </tr>

                {% if throw.comments.count > 0 %}
                    <tr class="separator">
                        <td colspan="4">Other information</td>
                    </tr>
                    {% include 'characters/defense/index/comments.html.twig' with {comments: throw.comments} only %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
