<div class="row">
    {% for throw in section.throws.toArray() -%}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-3">
            <div class="card text-center">
                <img class="card-img-top" src="../../images/characters/{{ characterSlug }}/defense/{{ throw.name }}.gif" alt="{{ throw.name }}">
                <table class="table table-bordered table-sm mb-0">
                    <tbody>
                        <tr>
                            <td class="move col-3">{{ throw.name }}</td>
                            <td class="col-3 {{ throw.property|throw_property_bg_class }}">{{ throw.property|format_property }}</td>
                            <td class="{% if throw.escapes.count() > 0 %}bg-success{% else %}bg-danger{% endif%} text-white col-3" title="Escape input">
                                {% if throw.escapes.count() > 0 %}
                                    {{ throw.escapes.toArray()|join(' or ') }}
                                {% else %}
                                    Can't
                                {% endif %}
                            </td>
                            <td class="col-3" title="Damages">{{ throw.damage }}</td>
                        </tr>
                        <tr>
                            <td
                                class="col-3{% if throw.frames.startup < 12 %} bg-danger text-white{% elseif throw.frames.startup > 12 %} bg-warning{% endif %}"
                                title="Startup frames"
                            >{{ throw.frames.startup|format_frame(true) }}</td>
                            <td class="col-3 {{ throw.frames.hit|throw_hit_bg_class(throw.behaviors) }}" title="After hit frames">{{ throw.frames.hit|format_frame(true) }}</td>
                            {% if throw.frames.escape is not null %}
                                <td
                                    class="col-3{% if throw.frames.escape < 21 %} bg-danger text-white{% elseif throw.frames.escape > 21 %} bg-warning{% endif %}"
                                    title="Escape frames"
                                >
                                        {{ throw.frames.escape|format_frame(true) }}
                                </td>
                                <td class="col-3 {{ throw.frames.afterEscape|throw_escape_bg_class }}" title="After escape frames">{{ throw.frames.afterEscape|format_frame(true) }}</td>
                            {% else %}
                                <td class="col-6" colspan="2"></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td title="Max distance from opponent">{{ (throw.distances.startup / 100)|number_format(2) }}</td>
                            <td title="Distance after hit">{{ (throw.distances.hit / 100)|number_format(2) }}</td>
                            <td class="col-3" title="Distance after escape">
                                {% if throw.distances.escape is not null %}
                                    {{ (throw.distances.escape / 100)|number_format(2) }}
                                {% endif %}
                            </td>
                        </tr>
                        {% for behavior in throw.behaviors.toArray() %}
                            <tr>
                                <td class="bg-danger text-white" colspan="4">
                                    {{ behavior|throw_behavior }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% include 'characters/comments.html.twig' with {comments: throw.comments} only %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>
