{% set rootPath = '../' %}
{% set breadcrumb = [
    {
        "label": "Characters"
    }
] %}
{% extends 'layout.html.twig' %}

{% block body %}
    {% for line in 1..4 %}
        <div class="row">
            {% for position in 1..11 %}
                <div class="col-4 col-sm-2 col-md-2 col-lg-1 pt-3">
                    <div class="card no-border text-center">
                        {% set character = characters.findForSelectScreen(line, position) %}
                        {% if character is not null %}
                            <img class="card-img-top" src="{{ rootPath }}/images/characters/{{ character.slug }}/avatar.png" alt="{{ character.name }}" title="{{ character.name }}">
                            {% if character.sections.hasDefenseMoves() %}
                                <a href="{{ rootPath }}characters/{{ character.slug }}/defense">Defense</a>
                            {% else %}
                                Defense
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
